{% extends 'two-column.html' %}

{% block 'column2' %}
<div id="about">

	<h2>About Paul Annesley and This Site</h2>

	<p>
		This site is my personal blog and aggregation point, powered by
		<a href="http://www.djangoproject.com/" title="Django | The Web framework for perfectionists with deadlines">Django</a>
		and <a href="http://diveintomark.org/" title="dive into mark">Mark Pilgrim</a>'s
		excellent <a href="http://www.feedparser.org/">Universal Feed Parser</a>.
		I hastily built it against an early public beta of Django some time ago,
		and have hastily patched it up to Django 1.0 since then.
	</p>

	<p>
		I've worked with PHP5 (heavily object-oriented) since it was released,
		and recently switched from Subversion to <a href="http://git.or.cz/">Git</a>,
		which was a system shock but well worth it.
		I've got a secret love for
		<a href="http://www.ruby-lang.org/" title="Ruby Programming Language">Ruby</a>,
		<a href="http://www.python.org/" title="Python Programming Language">Python</a> and
		<a href="http://en.wikipedia.org/wiki/JavaScript" title="JavaScript - Wikipedia">JavaScript</a>,
		as well as a secret hate for PHP, but I don't let that get in the way of
		what needs to be done :)
	</p>

	<div class="list" id="authored">
		<h2>Things I've Written Elsewhere</h2>
		{% with feeds.authoredelsewhere as feed %}
			{% include 'feed-entry-titles.html' %}
		{% endwith %}
	</div>

	<div class="list">
		<h2>Me, Elsewhere</h2>
		<ul>
			<li>
				<a href="http://99designs.com/people/paul" rel="me" title="Paul Annesley on 99designs">99designs</a>
				<span class="meta">&raquo; Paul Annesley</span>
			</li>
			<li>
				<a href="http://delicious.com/paul.annesley" rel="me" title="paul.annesley on delicious.com">delicious.com</a>
				<span class="meta">&raquo; paul.annesley</span>
			</li>
			<li>
				<a href="http://www.linkedin.com/in/paulannesley" rel="me" title="paulannesley on LinkedIn">LinkedIn</a>
				<span class="meta">&raquo; paulannesley</span>
			</li>
			<li>
				<a href="http://twitter.com/pda" rel="me" title="pda on Twitter">Twitter</a>
				<span class="meta">&raquo; pda</span>
			</li>
			<li>
				<a href="https://friendfeed.com/pda" rel="me" title="pda on FriendFeed">FriendFeed</a>
				<span class="meta">&raquo; pda</span>
			</li>
			<li>
				<a href="http://djangopeople.net/pda/" rel="me" title="pda on Django People">Django People</a>
				<span class="meta">&raquo; pda</span>
			</li>
			<li>
				<a href="http://flickr.com/photos/paulannesley/" rel="me" title="paulannesley on Flickr">Flickr</a>
				<span class="meta">&raquo; paulannesley</span>
			</li>
		</ul>
	</div>

	<div class="list" id="announcements">
		<h2>Announcements</h2>
		{% with feeds.announcements as feed %}
			{% include 'feed-entry-announcements.html' %}
		{% endwith %}
	</div>

	<div class="list" id="commented">
		<h2>Places I've Left Comments</h2>
		{% with feeds.commented as feed %}
			{% include 'feed-entry-site.html' %}
		{% endwith %}
	</div>

</div>
{% endblock %}

