{% extends 'two-column.html' %}

{% block 'column1' %}
	{% include 'nav-column.html' %}
{% endblock %}


{% block 'column2' %}
	<div id="recent-posts">
	{% for post in posts %}
		<div class="blogpost">
			<h2><a href="{{ post.get_absolute_url }}">{{ post.title|safe }}</a></h2>
			<p class="date">{{ post.timecreated|date:"j F Y" }}</p>
			<div class="blogpost-description">
				{{ post.content|safe }}
			</div>
			<p class="full-article">
				<a href="{{ post.get_absolute_url }}">Full Article &amp; Comments &raquo;</a>
			</p>
		</div>
	{% endfor %}
	</div>
{% endblock %}

