<div id="here">

	<div id="profile">
		<h2>Profile</h2>
		<p>
			<img alt="Paul Annesley" src="/static/images/paul-annesley.jpg" width="73" height="73" />
			This is the personal website of
			<a href="/" class="name" title="Home" rel="me">Paul Annesley</a>,
			senior developer at
			<a href="http://99designs.com/">99designs</a>
			in
			<a href="http://en.wikipedia.org/wiki/Melbourne"
				title="Melbourne on Wikipedia">Melbourne, Australia</a>.
			You can <a href="http://twitter.com/pda" title="pda on Twitter">follow Paul on Twitter</a>.
		</p>
	</div>

	<div id="bookmarks">
		<h2>Recent Bookmarks</h2>
		{% with feeds.bookmarks as feed %}
			{% include 'feed-entry-titles-descriptions.html' %}
		{% endwith %}
	</div>

	<h2>People</h2>
	<ul>
		<li><a href="http://jamesannesley.com" rel="sibling met">James Annesley</a> &raquo; Maker and purveyor of fine jazz saxophone music in Melbourne, Australia</li>
	</ul>

</div>

